# Coq cache
.lia.cache
*.aux
*.d
*.glob
*.vo
*.vok
*.vos
*.coq
*.conf

# Don't track pdf files
*.pdf

# No need for tracking lecture notes and textbooks
lec_notes/
textbooks/

# Track only Coq scripts in Software Foundation
*.html
*.svg
*common/
Software_Foundation/*/LICENSE
Software_Foundation/*/README

# Track only tex files in assignments
*.png
*.jpeg
