# Coq cache
.lia.cache
*.aux
*.coq.d
*.glob
*.vo
*.vok
*.vos
*.coq
*.coq.conf

# No need for tracking lecture notes and textbooks
lec_notes/
textbooks/

# Track only Coq scripts in Software Foundation
*.html
*.svg
*common/
Software_Foundation/*/LICENSE
Software_Foundation/*/README
